.features {
  padding-top: var(--padding-often);
  padding-bottom: var(--padding-often);

  &__card {
    margin-bottom: 30px;
    align-items: center;
  }
  &__icon {
    width: 270px;
    height: 120px;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: #f5f4fa;
  }

  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
}
